name: Deploy

on:
  workflow_run:
    workflows: ["Build, Test & Lint"]
    branches:
      - main
    types:
      - completed

jobs:
  tests:
    if: ${{ github.event.workflow_run.conclusion == 'success' && startsWith(github.ref, 'refs/branches/') }}
    name: Run Tests & Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: bahmutov/npm-install@v1

      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
          log-public-key: false

      - run: ssh-keyscan -H ${{ secrets.DEPLOY_SSH_HOST }} >> ~/.ssh/known_hosts

      - run: npm run deploy:staging



