name: PR

on: [pull_request]

jobs:
  prettier:
    name: Check Syntax
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Check syntax
        uses: creyD/prettier_action@v4.2
        with:
          dry: true
          only_changed: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  tests:
    name: Run Tests & Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: bahmutov/npm-install@v1

      - name: Build
        run: npm run build

      - name: Run tests
        run: npm test

      - name: Lint code
        run: npm run lint:ci
